# Entorno Virtual Python
venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Base de datos local (NO SE DEBE SUBIR A GIT NORMALMENTE)
db.sqlite3

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos multimedia subidos por usuarios
media/

# Otros comunes
.env
.idea/
.vscode/
