# Entorno Virtual Python
venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Base de datos local permitida para este caso
# db.sqlite3 no ignorada

# Archivos multimedia subidos por usuarios
# media/ no ignorada

# Otros comunes
.env
.idea/
.vscode/
